body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  height: 12rem;
}

.logo h1 {
  color: #b68450;
  font-size: 24px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #b68450;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #b68450;
  background-color: transparent;
  color: #fff;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #b68450;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.social-login {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-login img {
  width: 32px;
  margin: 0 10px;
  cursor: pointer;
}

.forgot {
  text-align: center;
  margin-top: 10px;
}

.forgot a {
  color: #b68450;
  text-decoration: none;
}